.aside {
    background-color: $color;

    .aside__contenedor {
        margin: 5px;
        padding: 0px;

        .aside__foto-perfil {
            height: 50px;
            border-radius: 30px;
            border: $borde;
            margin: 5px;
        }
    }
    .aside-cat{
        margin-top: 10px;
    }
}

.bt {
    background-color: $color;
    border: $borde;
    @include esp(8px 40px, 10px);
    border-radius: 20px;
    font-size: 20px;

    &:hover {
        transform: scale(1.1)
    }

}

.offcanvas {
    @extend .aside;
}