body{
    background-image: url(../img/fondo.png);
    background-color: $fondo;
    margin: 0px;
        .contenedor1{
            display: grid;
            min-height: 99.7vh;
            grid-template-columns: 10% 90%;
        
             grid-template-areas: 
            "header header   "
            "aside main  "
            "aside footer  "
            ;
            .header{
                grid-area: header;
                grid-column-start: 1;
                grid-column-end: -1;
            }
            .main{
                
                grid-area: main;
            }
            .aside{
                grid-area: aside;
            }
            .footer{
                grid-area: footer;
            } 
        }
        .contenedor{
            display: grid;
            min-height: 99.7vh;
            
        
             grid-template-areas: 
            "header"
            "main"
            "footer"
            ;
        }
 }