.main {
    .main__contenedor {
        .main__contenedro-libros {
            margin: 25px 10px;

            display: flex;
            flex-direction: column;
            align-items: center;



            .main__imagenes {
                height: $f;
                width: $f/1.5;
                border-radius: 50px;

                @include mq-510px {
                    height: $ff;
                    width: $ff/1.5;

                }
            }
        }
    }

}

.contenedor1 {
    overflow:hidden;
    button {
        display: none;

        @include mq-1330px {
            display: inline;
        }
    }

    aside {
        @include mq-1330px {
            display: none;
        }
    }
}