main{
    .perfil__figure{
        margin: 20px;
        img{
            height: 400px;
        }
    }
    .perfil{
        p{   
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}